<<<<<<< HEAD
body{background-color: rgb(220, 244, 245);}
table{width: 40%;}
.td_work{background: blanchedalmond;} 
=======
body{
    background-color: azure;
}
ul{
    padding-top: 5%;
    margin: auto;
    width: 60%;
}
li{
    padding-left: 5%;
    display: inline;
    background-color: darkgray;
    
}
.rest{
    background-color: coral;
}
>>>>>>> fa516789f729594a108683d03a0ae57c3d2fc217
