body{
    background-color: azure;
}
ul{
    padding-top: 5%;
    margin: auto;
    width: 60%;
}
li{
    padding-left: 5%;
    display: inline;
    background-color: darkgray;
    
}
.rest{
    background-color: coral;
}