<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="shop.css">
    <title>Shop</title>
</head>
<body>
    <div id="shop">
        <h2>Shop</h2>
        <ul>
            <li v-for="(item, key) in productList">{{ item.name }} : ${{ item.price }}
                <button type="button" @click='addToCart(key)'>Add</button>
            </li>
        </ul>
        <h2>Cart</h2>
        <ul>
            <li v-for="(item, key) in cart_list" v-if="item">{{ productList[key].name }}, x{{ item }}. 
                Total: ${{ productList[key].price * item}} 
                <button type="button" @click='removeFromCart(key)'>X</button>
            </li>
        </ul>
        <strong>Total: </strong>${{ total }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <script>
        new Vue ({
            el: "#shop",
            data: {
                productList:  [
                    {
                        name: 'apple',
                        price: 40
                    },
                    {
                        name: 'banana',
                        price: 120
                    },
                    {
                        name: 'cherry',
                        price: 230
                    },
                    {
                        name: 'lemon',
                        price: 23
                    }
                    ],
                cart_list: JSON.parse(localStorage.cart || '{}'),
            },
            computed: {
                total: function() {
                    var total = 0;
                    for (var i in this.cart_list) {
                        var prod = this.productList[i];
                        var count = this.cart_list[i];
                        total += prod.price * count;
                    }
                    return total;
                }
            },
            methods: {
                addToCart: function(key){
                    if(void 0 === this.cart_list[key]){
                        this.$set(this.cart_list, key, 1);
                        //this.$set(this.total, this.productList.price);
                    } else {
                        this.cart_list[key]++;
                    }
                    this.saveCart();
                    //console.log(this.cart_list[key]);
                },
                removeFromCart: function(key){
                    this.$delete(this.cart_list, key);
                    //delete this.cart_list[key];
                    this.saveCart();
                },
                saveCart: function(){
                    localStorage.cart = JSON.stringify(this.cart_list);
                }
            }
        });
        
    </script>
</body>
</html>